body {
    background: #000;
    padding-bottom: 120px;
}

.Navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #000;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.6);
    border-radius: 70px 70px 0 0;
}
